# Build outputs
dist/

# IDE
.vscode/*

# Test
coverage/

# Cache
*.cache
.eslintcache
.prettiercache

# Storybook
storybook-static/
.storybook/docs/**/*.mdx
.storybook/stories/**/*.mdx

# AI
CLAUDE.md
.claude/
_*.md
